.to-do-section {
    min-height: 650px;
}
#btnAddNewCard{
    font-size: 2.5rem;
    cursor: pointer;
}
.to-drag{
    width: 300px;
    font-size: 1.5rem;
    overflow-wrap: break-word;
}
#modalNewCard{
    top: 7%;
    width: 30%;
    right: 0;
    border-radius: 5%;
}
label.label-on-top{
    top: -1rem;
}
.bi-chevron-double-up{
    font-size: 2rem;
    cursor: pointer;
}